 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*{
  font-family:'Poppins';
  
}
.App-header {
  background-color: #454b58;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.nav-link {
  padding: 10px 20px;
  position: relative;
/* font-family: 'Poppins'; */
font-size: 15px;
margin-left: 15px;
font-weight: 600;

}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: white; /* underline color */
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.news-card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  align-items: stretch;
}
.navbar{
  background-color: black;
}

.navbar .navbar-brand{


  font-weight: 800;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 23px;



}

.inptsearch
{

  height: 36px ;
 width: 300px ;
  outline: none; 
  font-size: 13px;
  padding: 5px;
border-bottom: 3px solid rgb(141, 141, 141);
border-left: none;
border-top: none;
border-right: none;
font-family: 'Poppins';
  


}

.inptsearch:hover{
  background-color: white;
}


.butons{
  border: none;
  font-size: 17px;
  background:none;
  color: gray;
  
}

.butonss{
  border: none;
  font-size: 19px;
  background: none;
  color: gray;
  
}

.buttonscontainer{
  display: flex ;
  align-items: center;
  justify-content: end;
  
}

 tr {

  font-size: 14px;
  font-family: 'Poppins';

}

.readbutton{
  text-decoration: none;
  background-color: rgb(92, 87, 87);
  color: white;
  padding: 7px;
  border-radius: 6px;
  font-size: 13px;
  margin-top: 9px;
  transition: all 0.3s ease;
}

.readbutton:hover{

  background-color: white;
  color: black;
  border: 1px solid black;

} 

.headd{
  height: 607px;
  width: 100%;
  background-image: linear-gradient( to right,#bdc3c7 , #2c3e50);
 padding-top: 40px ;
}

table, th, td {
  border: none;
}
 input{

   width: 370px ; 
  height:px;
  border:none;
 background-color:white;
 padding: 16px;
 outline: none;   
 border-radius: 50px; 
 font-family: 'Poppins';  
 font-size: 16px;
 position: relative;
}

.addbtn{

  background-color: lightblue;
  padding: 16px 40px 16px 40px;
  border-radius: 50px;
  border: none;
  position: absolute;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  right: 460px;
}
.addbtn:hover{

  /* text-shadow: 0 0 10px #343a40; */
  box-shadow: 0 0 1em 0.1em lightblue

}
.updatebtn{

  background-color: lightgreen;
  padding: 16px 40px 16px 40px;
  border-radius: 50px;
  border: none;

  position: absolute;
  transition: 0.5s ease-in-out;
  font-weight: 600;
  right: 460px;

}

.updatebtn:hover{


  box-shadow: 0 0 1em 0.1em lightgreen;

}


.btnss{

  background-color:red;
  color: white;
  border: none;
  padding: 17px;
  border-radius: 40px;
  font-family: 'Poppins';
}
.deletebtn{

  border: none;
  background: transparent;
  color: red;
  font-size: 20px;
  display: flex;
  align-items:center;
}

.editbtn{


  border: none;
  background: transparent;
  color: blue;
  font-size: 20px;
  display: flex;
  align-items:center;


}
.dat{
  background-color: white;


}


table {
  border-collapse: separate;
  border-spacing: 0 10px; /* rows ke beech gap */
}
.boxhead{
  height: auto;
  width: 400px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 20px;
}

.boxsec{
  display: flex;
  align-items: center;
  flex: 1;                /* buttons ko jagah de */
  margin-right: 10px;
  word-break: break-word;
  white-space: normal;
  padding-top: 4px;
}

.btnbox{
  display: flex;
}

.todotext{
  background-color: lightblue;
  color: black;
  padding: 10px 60px;
  font-weight: 700;
  border-radius: 20px;
  text-shadow: 0 0 5px #343a40;
  box-shadow: 0 0 1em 0.1em lightblue;

}


  @media (max-width: 1025px) {



    .updatebtn{

  position: absolute;

  right: 293px;

    
    
    }


    input{

      width: 370px ; 
     height:px;
     border:none;
    background-color:white;
    padding: 16px;
    outline: none;   
    border-radius: 50px; 
    font-family: 'Poppins';  
    font-size: 16px;
    position: relative;
   }
   
   .addbtn{
   
     background-color: lightblue;
     padding: 16px 40px 16px 40px;
     border-radius: 50px;
     border: none;
     position: absolute;
     color: black;
     font-weight: 600;
     cursor: pointer;
     transition: 0.5s ease-in-out;
     right: 293px;
   }


  }



  @media (max-width: 768px) {

    .updatebtn:hover{


      box-shadow: 0 0 1em 0.1em lightgreen;
    
    }

    
    .updatebtn{

      position: absolute;
    
      right: 168px;
    
        
        
        }
    
    
        input{
    
          width: 370px ; 
         height:px;
         border:none;
        background-color:white;
        padding: 16px;
        outline: none;   
        border-radius: 50px; 
        font-family: 'Poppins';  
        font-size: 16px;
        position: relative;
       }
       
       .addbtn{
       
         background-color: lightblue;
         padding: 16px 40px 16px 40px;
         border-radius: 50px;
         border: none;
         position: absolute;
         color: black;
         font-weight: 600;
         cursor: pointer;
         transition: 0.5s ease-in-out;
         right: 168px;
       }
    


  }



  @media (max-width: 425px) {

    .updatebtn:hover{


      box-shadow: 0 0 1em 0.1em lightgreen;
    
    }
    
    .updatebtn{

      position: absolute;
    
      right: 50px;
    
        padding: 12px;
        
        }
    
    
        input{
    
          width: 300px ; 
         height:px;
         border:none;
        background-color:white;
        padding: 12px;
        outline: none;   
        border-radius: 50px; 
        font-family: 'Poppins';  
        font-size: 16px;
        position: relative;
       }
       
       .addbtn{
       
         background-color: lightblue;
         padding: 12px 23px 12px 23px;
         border-radius: 50px;
         border: none;
         position: absolute;
         color: black;
         font-weight: 600;
         cursor: pointer;
         transition: 0.5s ease-in-out;
         right: 50px;
       }
    

       
       .boxhead{
        height: auto;
        width: 310px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 9px;
        padding: 8px;
        border-radius: 22px;
      }
     
      .todotext{
        background-color: lightblue;
        color: black;
        padding: 10px 30px;
        font-weight: 700;
        border-radius: 20px;
        text-shadow: 0 0 5px #343a40;
        box-shadow: 0 0 1em 0.1em lightblue;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40px;
      
      }

      .btnss{

        background-color:red;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 40px;
        margin-right: 28px;
        font-family: 'Poppins';
      }

  }


  